.ChefLogo {
  height: 40vmin;
  pointer-events: none;
  padding-top: 5vh;
}

.ChefGridButtonLeft {
  text-align: right;
  padding: 0 20px;
}

.ChefGridButtonRight {
  text-align: left;
  padding: 0 20px;
}

@media (max-width: 500px) {
  .ChefButton {
    padding: 0 100px;
  }
}