.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
  padding-top: 5vh;
}

.appHeader {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appButton {
  text {
    text-decoration: none;
  }
}